# URL base da API (ex: https://api-hlg.agibank.com.br)
BASE_URL=

ENV=HLG
DOMAIN=AGIPLAN

# Dados do cliente de teste
CLIENT_PORTABILIDADE_PASSIVA=

# Credenciais de serviço
USER_PORTABILIDADE_PASSIVA=
PASSWORD_PORTABILIDADE_PASSIVA=

# Tokens Basic Auth (Base64)
BASIC_HLG=
BASIC_APIM=
BASIC_TOPAZ=
